<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <title>Laboratorio 22 - Mi Agenda Google Calendar</title>
</head>
<body>

<header>
  
    <nav>
        <div class="nav-wrapper blue">
            <a href="index.php" class="brand-logo">Laboratorio 22  - Mi Agenda Google Calendar</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="modal-trigger" href="#modal">Cuestionario</a>
            </li>
            </ul>

        </div>
    </nav>
    <div id="modal" class="modal">
            <div class="modal-content">
            <h4>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</h4>
            <p>La ventaja es que nos permiten implementar funcionalidad estandarizada que seria dificil realizar por nuestra cuenta. La desventaja, es que la funcionalidad de nuestra pagina depende que estos servicios terceros funcionen como esperemos.</p>
    </div>
    </div>
</header>
<main>

<div class="container">