@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

table, th, td {
    border: 1px solid white;
}
td {
    background-color: #2d3958;
}
td:hover{
    background-color: #4d5e8a;
}
caption{
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    
}
th,td {
    padding: 15px;
    transition: all .2s ease-in-out;
}

nav{
    margin: 30px;
}
a{
    color: white;
}
a:hover{
    color: 	#FBB923;
}
header{
    border: 2px solid white;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 7px;

    background-color: #1b212f;
}
section:hover{
    transform: scale(1.025);
}
body{
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    background: #12151f;
    color: #fff;
}
li{
    text-align: left;
}
input{
    margin: 20px;
}

section{
    transition: all .2s ease-in-out;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    border: 2px solid white;
    border-radius: 7px;
    background: #1b212f;
    overflow-wrap: break-word;
}
.condiciones{
    display: flex;
    justify-content: center;
}

.compra{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 1em;
}

.compra img{
    border-radius: 8px;
}
.compra h2, h3{
    text-align: center;
}

.precio{
    color: #FBB923;
}
.precio del{
    color: rgb(110, 110, 110)
}

.correcto{
    color: green;
}

.incorrecto{
    color: red;
}
