<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/tecify.css" rel="stylesheet">

    <title>Laboratorio 20 - JQuery</title>
</head>
<body>

<header>
  
    <nav>
        <div class="nav-wrapper green darken-1">
            <a href="index.php" class="brand-logo">Laboratorio 20</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="modal-trigger" href="#modal">Cuestionario</a>
            </li>
            </ul>

        </div>
    </nav>
    <div id="modal" class="modal">
            <div class="modal-content">
            <h4>Funciones de JQuery utilizados:</h4>
            <p>Utilice la funcion para hacer un GET request usando Ajax de una forma mas simplicicada. Con esos datos obtenidos, utilice la funcion fadeIn() para agregar una animacion a estos resultados.</p>
            <h4>Cuestionario</h4>
            <h5>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</h5>
            <p>Se utiliza un objeto configurable de JavaScript para poder asi hacer peticiones tipo POST o GET al servidor.</p>
            <img src="img/jqueryAjax.png" width="700" height="500">
            <h5>¿Qué alternativas a jQuery existen?</h5>
            <p>La primer respuesta obvia seria JavaScript puro. Sin embargo, JQuery simplifica mucho del trabajo que seria implementar algo en JS por lo tanto no se recomienda. Existen varias librerias disponibles basados en JS que contienen muchas funciones como alternativa a JQuery. Unas de ellas son Zepto.js y XUI.</p>
    </div>
    </div>
</header>
<main>

<div class="container">